:root {
  --redColor: #d8004e;
  --blueColor: #05fbfb;
  --white: #fff;
  --black: #000;
}
/* -----menu----- */

/* --slider----- */

.slider-slides {
  height: 600px;
}
.text-container .button {
  margin: 10px auto;
  width: 40%;
  padding: 10px 20px;
}

#convocatorias,
#foro,
#fresquito,
#planes {
  border-radius: 0;
}
